
{% block content %}

    <div class="row part">
        <div class="col-4">
            Autem maiores vel possimus. Quis dolor eum sapiente inventore. Aut dolor soluta et perspiciatis eos aut ipsa.

            Magni maxime sapiente culpa saepe libero asperiores. Eos nulla quia adipisci vel ut delectus error sed. Maxime est hic occaecati ut a autem. In velit facere fuga. Quis corporis iste nihil.

            Debitis hic voluptas voluptatem. Vel est qui dolore temporibus. Dolorem repellendus dolores aperiam placeat labore cupiditate. Tempora rerum perspiciatis pariatur ex temporibus.

            Doloribus veniam dolor molestias fugit nam in aliquid commodi. Et rerum quidem inventore vel a velit est. Quia vel qui magni quod enim id. Est qui aspernatur quas ipsum aperiam. Aut sapiente excepturi ea repellat et architecto sint voluptatibus.

                Qui asperiores nulla a nesciunt provident quis est. Et dolore officiis totam ut id est. Et ut ullam architecto. Ut ut laudantium consectetur tempora maiores. Quam molestiae a odit quibusdam. Possimus saepe libero dicta alias iusto.
        </div>
        <div class="col-4">
            <img src="{{ asset('images/rhun_schriftzug.png')}}">
        </div>

        <div id="login" class="col-4">
            <h2>Anmeldung</h2>
            <!-- login form -->
            {% if error %}
                <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            {% endif %}

            {{ form_start(form, {'action': path(form_path)}) }}
                <div class="form-group">
                    <label for="login_name">Name</label>
                    <input type="text" class="form-control" id="login_name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="login_password">Passwort</label>
                    <input type="password" class="form-control" id="login_password" placeholder="Passwort">
                </div>
                <button type="submit" class="btn btn-primary" >Login</button>
            {{ form_end(form) }}
        </div>
    </div>

    <!-- lands -->
    <div class="row part">
        <div class="col-12">
            <div id="lerentia" class="card mb-3 land">
                <img class="card-img" src="{{ asset('images/lerentia.png')}}">
                <div class="card-body">
                    <h3 class="card-title">{{lerentia.name|colorize|raw}}</h3>
                    <p class="card-text">{{lerentia.descr|colorize|raw}}</p>
                </div>
            </div>
            <div id="nelaris" class="card land">
                <img class="card-img" src="{{ asset('images/nelaris.png')}}">
                <div class="card-body">
                    <h3 class="card-title">{{nelaris.name|colorize|raw}}</h3>
                    <p class="card-text">{{nelaris.descr|colorize|raw}}</p>
                </div>
            </div>
            <div id="manosse" class="card land">
                <img class="card-img" src="{{ asset('images/manosse.png')}}">
                <div class="card-body">
                    <h3 class="card-title">{{manosse.name|colorize|raw}}</h3>
                    <p class="card-text">{{manosse.descr|colorize|raw}}</p>
                </div>
            </div>
            <div id="pyra" class="card land">
                <img class="card-img" src="{{ asset('images/pyra.png')}}">
                <div class="card-body">
                    <h3 class="card-title">{{pyra.name|colorize|raw}}</h3>
                    <p class="card-text">{{pyra.descr|colorize|raw}}</p>
                </div>
            </div>
            <div id="seiya" class="card land">
                <img class="card-img" src="{{ asset('images/lerentia.png')}}">
                <div class="card-body">
                    <h3 class="card-title">{{seiya.name|colorize|raw}}</h3>
                    <p class="card-text">{{seiya.descr|colorize|raw}}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
