{% extends 'base.html.twig' %}

{% block title %}BookTheme{% endblock %}

{% block body %}
    <h1>BookTheme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book_theme.id }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ book_theme.theme }}</td>
            </tr>
            <tr>
                <th>ListOrder</th>
                <td>{{ book_theme.listOrder }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_theme_index') }}">back to list</a>

    <a href="{{ path('book_theme_edit', {'id': book_theme.id}) }}">edit</a>

    {{ include('editors/book_theme/_delete_form.html.twig') }}
{% endblock %}
