<div class="infobox" style="display: none; z-index: 1000;">
    <table>
        <tr>
            <td>
                <div style="
                     width: 40px;
                     height: 40px;
                     margin: 0 auto;
                     {% if armorType == 0 %}
                         background-image: url({{asset('/images/armor_icons/light_armor_ico.png')}});
                     {% elseif armorType == 1 %}
                         background-image: url({{asset('/images/armor_icons/medium_armor_ico.png')}});
                     {% elseif armorType == 2 %}
                         background-image: url({{asset('/images/armor_icons/heavy_armor_ico.png')}});
                     {% endif %}"
                     onmouseover="display.Infobox.showInfobox(event, -100, 10)" onmouseout="display.Infobox.hideInfobox(event)">
                </div>
            </td>
            <td>
                <span>
                    {{ item.getArmorType() |armorType }} Level
                </span><br />
                <span>
                    Rüstungsklasse: 
                    {{ item.getDefense() }}
                </span>
                Voraussetzungen:<br />
                <span>
                    {{ item.getAttribute() |attributeName }}: {{ item.getMinAttribute() }}
                </span><br /><br />
                Resistenzen: <br />
                {% if item.getResistances() |length > 0 %}
                    <ul>
                        {% for res in item.getResistances() %}
                            <li>
                                {{ res.getColoredName() |colorize |raw }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ul>
                        <li>
                            Keine
                        </li>
                    </ul>
                {% endif %}
                Verwundbarkeiten: <br />
                {% if item.getVulnerabilities() |length > 0 %}
                    <ul>
                        {% for vul in item.getVulnerabilities() %}
                            <li>
                                {{ vul.getColoredName() |colorize |raw }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ul>
                        <li>
                            Keine
                        </li>
                    </ul>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
