<div>
    <table>
        <tr>
            <td>
                <img src="
                     {% if item.getIcon() != '' %}
                         {{asset('/images/item_icons/' ~ item.getIcon() ~ '.png')}}
                     {% else %}
                         {{asset('/images/item_icons/dummy_ico.png')}}
                     {% endif %}" style="width: 40px; height: 40px;">
            </td>
            <td>
                <span style="font-size: 1.5em;">
                    {% if name is defined %}
                        {{ name |colorize |raw }}
                    {% else %}
                        {{ item.getName() |colorize |raw }}
                    {% endif %}
                </span><br />
                <p>
                    {{ item.getDescription() |colorize |raw }}
                </p>
            </td>
        </tr>
    </table>
</div>